@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.mainHeading{
    color:#C410E9;
    font-family: Poppins;
    font-size:40px;
    width:70%;
}
header{
    border:2px solid black;
}
nav{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    height:65px;
}
.navitem{
    border:2px solid grey;
    padding:4px;
}
.navitem a{
    text-decoration:none;
}
.onlap{
    color:FFFEFA;
    background-image: url(laptop.jpg);
    background-repeat: no-repeat;
    border:2px solid grey;
    width:100%;
    height:100%;
    background-size:cover;
    height:90%;
}
.inside{
    display:flex;
    height:300px;
    margin-top:100px;
    margin-left:250px;
}
.text{
    font-size:19px;
    width:440px;
    height:300px;
    font-style:italic;
}
.quote{
    font-weight: bold;
    font-size:21px;
}
.readyimage{
    width:250px;
    height:300px;
}
.icon{
    margin-top:7px;
    height:48px;
    width:50px;
}
.top{
    display:flex;
}